<a href="https://colab.research.google.com/github/hussain0048/Python-Notes/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Table of Content**

1.   ðŸ“š *_[Installing Pandas](#installing_pandas)_*
2.   ðŸ“š *_[Importing Pandas](#importing_pandas)_*
3.   ðŸ“š *_[Pandas Data Structure](#pandas_data_structure)_*
4.   ðŸ“š *_[Data Preparation using Pandas](#data_frame_functions)_*
5.   ðŸ“š *_[Data Visualization using Pandas](#data_visualization)_*

#  **Pandas(Beginer Level)**

#**Section-1- Installing Pandas**

In [6]:
conda install pandas

ValueError: The python kernel does not appear to be a conda environment.  Please use ``%pip install`` instead.

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# **Section-2-Importing Pandas**

In [4]:
import pandas as pd
import numpy as np

# **Section-3- Pandas Data Structures**

**Pandas** provides **two types** of classes for handling data.

**1-Series:**

A **one-dimensional labeled array** holding data of any type
such as integers, strings, Python objects etc.

**2-DataFrame:**

 A **two-dimensional data structure** that holds data like a two-dimension array or a table with **rows and columns.**

## **3.1- Series in Pandas**

### **Basic Syntax**

In [ ]:
newSeries = pd.Series(data , index)



###**Letâ€™s build a series from Python List:**

In [7]:
mylist = ['Ahmad','Machine Learning', 20, 'Pakistan']
labels = ['Name', 'Career', 'Age', 'Country']
newSeries = pd.Series(mylist,labels)
print(newSeries)

Name                  Ahmad
Career     Machine Learning
Age                      20
Country            Pakistan
dtype: object

It is not necessary to add an index in a pandas Series. In that case, it will automatically start index from 0.

In [ ]:
mylist = ['Ahmad','Machine Learning', 20, 'Pakistan']
newSeries = pd.Series(mylist)
print(newSeries)

### **Create a Series using a Python Dictionary**

In [ ]:
myDict = {'Name': 'Ahmad',
         'Career': 'Machine Learning',
         'Age': 20,
          'Country': 'Pakistan'}
mySeries = pd.Series(myDict)
print(mySeries)

### **Create a Series From scalar value**

In [ ]:
pd.Series(5.0, index=["a", "b", "c", "d", "e"])
Out[12]:
a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

###**Accessing data from Series**

In [ ]:
seriesName['IndexName']

In [ ]:
print(mySeries['Name'])
print(mySeries['Age'])
print(mySeries['Career'])

### **Series as ND Array**

**Series** acts very similarly to a **ndarray** and is a valid argument to most **NumPy functions**.

In [ ]:
import pandas as pd

# Create a Pandas Series
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

# Accessing elements using index labels
print("Element at index 'b':", s['b'])  # Output: 20

# Arithmetic operation
s_double = s * 2
print("\nSeries after doubling each element:")
print(s_double)

# NumPy-like operations
import numpy as np
arr = np.sqrt(s)
print("\nSquare root of each element (NumPy array):")
print(arr)

# Adding two Series based on index labels
s2 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'e', 'f'])
sum_series = s + s2
print("\nSum of two Series (aligned based on index labels):")
print(sum_series)

### **Basic Operations on Pandas Series**

In [ ]:
newSeries = pd.Series([10,20,30,40],index=['LONDON','NEWYORK','Washington','Manchester'])
newSeries1 = pd.Series([10,20,35,46],index=['LONDON','NEWYORK','Istanbul','Karachi'])
print(newSeries,newSeries1,sep='\n\n')

Basic Arithmetic operations include +-*/ operations. These are done over-index, so letâ€™s perform them.

In [ ]:
newSeries + newSeries1

Here we can see that since London and NEWYORK index are present in both Series, so it has added the value of both and output of rest is NaN (Not a number)

In [ ]:
newSeries * newSeries1

In [ ]:
newSeries / newSeries1

**Element Wise Operations/Broadcasting**

In [ ]:
newSeries + 5

In [ ]:
newSeries ** 1/2

## **3.2-DataFrame in Pandas**

**Ways to create Data Frame are:**

###  **DataFrame Creation using Python Dictionary**

In [ ]:
df1 = {"Name":["Ahmad","Ali",'Ismail',"John"],"Age":  [20,21,19,17],"Height":[5.1,5.6,6.1,5.7]}

In [ ]:
df1 = pd.DataFrame(df1)
df1

**Getting Values from a Column**

In [ ]:
df1['Age']
#df1.columnname

Both of these syntaxes are correct, but we have to be careful about choosing one. If our column name has space in it, then definitely we can not use the 2nd method. We have to use the first method. We can only use the 2nd method when there is no space in the column name.

In [ ]:
df1.Name

**Values of Multiple Columns**

In [ ]:
df1[["Name","Age"]]

### **DataFrame Creation using Numpy array**

Creating a **DataFrame** by passing a **NumPy array** with a datetime index using ```date_range()``` and labeled columns:

In [ ]:
dates = pd.date_range("20130101", periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

# **Section-4-Data Preparation using pandas**

## **4.1-Loading Libraries**

In [9]:
#Import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder

## **4.2-Loading DataSet**

### **Built-in-DataSet**

Many Python libraries come with built-in datasets that are readily available for experimentation and learning. These datasets are often included to showcase library capabilities, serve as educational resources, or provide standard benchmarks for algorithms.

Following are some examples of libraries that include dataset in them.


1.   **Scikit-Learn**
2.   **Seaborn**
3.   **Matplotlib**
4.   **TensorFlow**

In [10]:
import seaborn as sns
df=sns.load_dataset('titanic')
import numpy as np

In [ ]:
from sklearn import datasets

# Load a built-in dataset (e.g., Iris dataset)
iris = datasets.load_iris()

In [ ]:
import tensorflow_datasets as tfds

# Load a built-in dataset (e.g., MNIST dataset)
mnist_data = tfds.load('mnist')

### **User-Defined DataSet**

User-defined datasets refer to datasets created by users or organizations for specific analysis, research, or applications. These datasets may be sourced from various sources, including surveys, experiments, data collection efforts, and public repositories.

Following are some ways to collect the user-defined datasets.


1.   **Local Files (CSV, Excel, JSON, etc.)**
2.   **Database Queries**
3.   **Web Scraping**

In [ ]:
# Basic Syntax
pd.read_fileExtensionName("File Path")

In [ ]:
# Local Files
import pandas as pd

# Load a user-defined dataset from a CSV file
df = pd.read_csv('data.csv')

In [ ]:
# From Database


import pandas as pd
import sqlite3

# Connect to a SQLite database
conn = sqlite3.connect('database.db')

# Execute a SQL query to fetch data
query = "SELECT * FROM table_name"
df = pd.read_sql(query, conn)

# Close the database connection
conn.close()

In [ ]:
# Using Web-Scrapping

import pandas as pd
import requests
from bs4 import BeautifulSoup

# Fetch data from a website
url = 'https://example.com/data'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# Parse HTML content to extract data
# Example: Extracting tables using pandas read_html function
dfs = pd.read_html(url)
df = dfs[0]

**Here We will use Titanic DataSet for the refrence**

In [ ]:
import seaborn as sns
df=sns.load_dataset('titanic')

## **4.3-Common Pandas Functions**

### **Viewing DataSet**

```head()``` &```tail()```:
View the first or last few rows of the dataset.

In [ ]:
df.head()  # View the first few rows
df.tail()  # View the last few rows

```info()```: Get a concise summary of the dataset, including data types and missing values.

In [ ]:
df.info() # Give summary of the dataset

```describe()```: Get statistical information about numerical columns.

In [ ]:
df.describe() # Get statistical information about numerical columns

### **Data Cleaning**

**Handling Missing Values**:

In [ ]:
# Check for missing values
df.isnull().sum()

# Fill missing values in 'Age' column with median age
median_age = df['Age'].median()
df['Age'].fillna(median_age, inplace=True)

# Fill missing values in 'Embarked' column with the most common value
most_common_embarked = df['Embarked'].mode()[0]
df['Embarked'].fillna(most_common_embarked, inplace=True)

**Removing Duplicates:**

In [ ]:
# Check for duplicate rows
df.duplicated().sum()

# Drop duplicate rows
df.drop_duplicates(inplace=True)

**Handling Categorical Variables:**

In [ ]:
# Convert 'Sex' column to categorical data type
df['Sex'] = df['Sex'].astype('category')

# Convert 'Embarked' column to categorical data type
df['Embarked'] = df['Embarked'].astype('category')

**Handling Outliers:**

Outliers can skew your data and affect the performance of your model.

In [ ]:
# Detect Outliers
sns.boxplot(x=df['Fare'])
plt.show()

In [ ]:
# Removing Outliers
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1
df = df[(df['Fare'] >= (Q1 - 1.5 * IQR)) & (df['Fare'] <= (Q3 + 1.5 * IQR))]

### **Data Transformation**

**Normalizing and Scaling**

In [ ]:
scaler = StandardScaler()
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])

**Encoding categorical variables:**

In [ ]:
# One-hot encoding for 'Sex' and 'Embarked'
df = pd.get_dummies(df, columns=['Sex', 'Embarked'])

# Label encoding for 'Pclass'
le = LabelEncoder()
df['Pclass'] = le.fit_transform(df['Pclass'])

### **Feature Engineering**

**Creating New Features out of existing data**

In [ ]:
# Creating a family size feature
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

**pd.read_csv()**

### **Filtering  the Data**

In [ ]:
# Filter rows based on a condition
filtered_data = data[data['column'] = value]

In [ ]:
# Filter passengers who survived:
survived_df = df[df['Survived'] == 1]
print(survived_df.head())

In [ ]:
# Filter passengers who are female and survived:
female_survived_df = df[(df['Survived'] == 1) & (df['Sex'] == 'female')]
print(female_survived_df.head())

In [ ]:
# Filter passengers who are male and paid a fare greater than $50:
male_high_fare_df = df[(df['Sex'] == 'male') & (df['Fare'] > 50)]
print(male_high_fare_df.head())

### **Subsetting the Data**

Subsetting involves selecting specific rows and columns.

**Selecting by using Columns Names**

In [ ]:
subset_df = df[['Name', 'Sex', 'Age', 'Survived']]
print(subset_df.head())

**Select rows by index:**

In [ ]:
subset_rows_df = df.iloc[0:10]  # First 10 rows
print(subset_rows_df)

**Select specific rows and columns:**

In [ ]:
subset_rows_columns_df = df.loc[0:10, ['Name', 'Age', 'Survived']]  # First 11 rows and specific columns
print(subset_rows_columns_df)

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('data.csv')

# Print the DataFrame
print(df)

###  **Grouping Data**

Grouping data involves splitting the data into groups based on some criteria.

In [ ]:
# Group by a single column (e.g., 'Sex'):
grouped_df = df.groupby('Sex')

In [ ]:
# Group by multiple columns (e.g., 'Sex' and 'Pclass'):
grouped_df = df.groupby(['Sex', 'Pclass'])

### **Aggregating Data**

In [ ]:
# Calculate the mean age for each gender:
mean_age_by_gender = df.groupby('Sex')['Age'].mean()
print(mean_age_by_gender)

Aggregation involves computing a summary statistic for each group.

In [ ]:
# Calculate multiple aggregation functions (mean and median) for 'Fare' grouped by 'Pclass':
aggregated_df = df.groupby('Pclass')['Fare'].agg(['mean', 'median'])
print(aggregated_df)

In [ ]:
# Calculate multiple aggregations for multiple columns:
multi_agg_by_sex_pclass = grouped_by_sex_pclass.agg({
    'Age': ['mean', 'max', 'min'],
    'Fare': ['mean', 'sum']
})
print(multi_agg_by_sex_pclass)

### **Merging and Joining Data**

Merging and joining are essential for combining multiple datasets.

In [ ]:
import pandas as pd

# Load the Titanic dataset
titanic_df = pd.read_csv('titanic.csv')

# Create another DataFrame for demonstration
additional_info = pd.DataFrame({
    'PassengerId': [1, 2, 3, 4, 5],
    'Embarkation_Port': ['Southampton', 'Cherbourg', 'Cherbourg', 'Southampton', 'Southampton'],
    'Ticket_Price_Category': ['High', 'High', 'Medium', 'Low', 'Medium']
})

print(titanic_df.head())
print(additional_info)

**Merge Two DataFrames on a Common Column**

In [ ]:
# We will merge titanic_df and additional_info on the PassengerId column.
merged_data = pd.merge(titanic_df, additional_info, on='PassengerId')
print(merged_data.head())

**Join Two DataFrames Based on Their Indexes**

In [ ]:
# First, we need to set the PassengerId as the index for both DataFrames. Then we will perform the join.
# Set 'PassengerId' as the index
titanic_df.set_index('PassengerId', inplace=True)
additional_info.set_index('PassengerId', inplace=True)

# Join DataFrames based on their indexes
joined_data = titanic_df.join(additional_info, how='inner')
print(joined_data.head())

# Reset index if needed
titanic_df.reset_index(inplace=True)
additional_info.reset_index(inplace=True)

### **Cleaning Wrong Format Data**

In [14]:
# Ways to Clean wrong format data
df['Age'] = pd.to_numeric(df['age'], errors='coerce')
df['Fare'] = pd.to_numeric(df['fare'], errors='coerce')

### **Data Correlations**

Finding Relationships between column in your dataset there number varies from -1 to 1 1 means there there is a 1 to 1 relationship( a perfect correlation)

In [16]:
# Selecting columns with numeric datatype
numeric_cols = df.select_dtypes(include=['number'])

# Calculate the correlation matrix
correlation_matrix = numeric_cols.corr()

# Display the correlation matrix
print(correlation_matrix)

          survived    pclass       age     sibsp     parch      fare  \
survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
sibsp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

               Age      Fare
survived -0.077221  0.257307
pclass   -0.369226 -0.549500
age       1.000000  0.096067
sibsp    -0.308247  0.159651
parch    -0.189119  0.216225
fare      0.096067  1.000000
Age       1.000000  0.096067
Fare      0.096067  1.000000

 **Correlation Coefficient Range**:
+1: Perfect positive correlation

0: No correlation

-1: Perfect negative correlation

**Strong Correlation**: Typically, values above 0.7 or below -0.7 indicate a strong correlation.

**Moderate Correlation**: Values between 0.3 and 0.7 (positive or negative) indicate a moderate correlation.

**Weak Correlation**: Values below 0.3 indicate a weak correlation

**pd.read_table()**

### **Adding Columns in DataFrame**

In [18]:
# Adding new column in dataset
df['col'] = 5
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age,Fare,col
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,22.0,7.2500,5
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,38.0,71.2833,5
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,26.0,7.9250,5
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,35.0,53.1000,5
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,35.0,8.0500,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,27.0,13.0000,5
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,19.0,30.0000,5
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,NaN,23.4500,5
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,26.0,30.0000,5
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,32.0,7.7500,5

### **Column Deletion in Dataframe**

In [20]:
df.drop(columns=['col'],inplace=True)

### **Row Addition in DataFrame**

In [22]:
# row addition in dataframe
new_row = pd.DataFrame({'col1': [10], 'col2': [20]})
df = pd.concat([df, new_row], ignore_index=True)

### **Row Deletion in DataFrame**

In [23]:
# Row Deletion
df.drop(0, inplace =True)

### **Saving Prepared Data**

In [25]:
# Save the DataFrame to a CSV file
df.to_csv('prepared_data.csv', index=False)
# Save the DataFrame to an Excel file
df.to_excel('prepared_data.xlsx', index=False)

**pd.read_excel()**

In [ ]:
import pandas as pd

# Read the Excel file into a DataFrame
df = pd.read_excel('data.xlsx')

# Print the DataFrame
print(df)

**pd.readl_sql()**

In [ ]:
import pandas as pd
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('my_database.db')

# Read the SQL query into a DataFrame
df = pd.read_sql('SELECT * FROM users', conn)

# Print the DataFrame
print(df)

**pd.read_json()**

In [ ]:
import pandas as pd

# Read the JSON file into a DataFrame
df = pd.read_json('data.json')

# Print the DataFrame
print(df)

## **4.4-Data Statistics**

**head()**

In [ ]:
df.head()

**tail()**

In [ ]:
df.tail(5)

**shape()**

In [ ]:
df.shape()

**isnull()**

In [ ]:
df.isnull().head()

**sum()**

In [ ]:
df.isnull().sum()

**info()**

In [ ]:
df.info()

**describe()**

In [ ]:
df.describe()

**mean()**

In [ ]:
df.mean()

**median()**

In [ ]:
df.median()

**std()**

In [ ]:
df.std()

**Count()**

In [ ]:
df.count()

**Max()**

In [ ]:
df.max()

**Min()**

In [ ]:
df.min()

Check if the data has any duplicate values using duplicated(). The sum() gives you the number of duplicate rows in the data frame

In order to see the duplicate rows, we can store the duplicated values inside a data frame.

In [ ]:
duplicate_rows = df[df.duplicated()]
duplicate_rows

Duplicate values can be removed using drop_duplicates()

In [ ]:
data = df.drop_duplicates(ignore_index=True)
# ignore_index=True so that the index is relabeled

## **4.5-Data Sorting**

**df.sort_values()**

The following code sorts the DataFrame by the A column in ascending order:

In [ ]:
df.head()

In [ ]:
 df = df.sort_values('sex')

In [ ]:
df

The following code sorts the DataFrame by the B column in descending order:

In [ ]:
df = df.sort_values('sex', ascending=False)

## **4.6- Inconsistent Data**

In [ ]:
df.head()

In [ ]:
df['who'].unique()

In [ ]:
df['who'] = df['who'].str.lower()
df['who'].unique()

**Whitespace issues:**

In [ ]:
titanic_df['Name'] = titanic_df['Name'].str.strip()
titanic_df['Name'].head()

**Inconsistent spelling:**

In [ ]:
# Let's create a column with some inconsistencies for demonstration purposes
titanic_df['Embarked'] = titanic_df['Embarked'].replace(['C', 'Q', 'S'], ['cherbourg', 'queenstown', 'southampton'])
print(titanic_df['Embarked'].unique())

**Fix Inconsistent Spelling**

In [ ]:
# Standardize 'Embarked' column
standardize_mapping = {
    'cherbourg': 'Cherbourg',
    'queenstown': 'Queenstown',
    'southampton': 'Southampton'
}
titanic_df['Embarked'] = titanic_df['Embarked'].replace(standardize_mapping)
print(titanic_df['Embarked'].unique())

# **Section-5 Data Visualization Using Pandas**

In the world of data science, visualization is key to understanding and communicating insights. One of the most powerful tools for data visualization in Python is Pandas.

### **5.1-Importing Libraries and Loading DataSet**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the Titanic dataset
titanic= sns.load_dataset('titanic')

### **5.2-Basic Plotting with Pandas**

Pandas has built-in plotting capabilities using Matplotlib

#### **Line Plot**

A line plot is useful for visualizing trends over time. Suppose we want to visualize car sales over the years:

In [ ]:
# Plotting average age by passenger class
titanic.groupby('pclass')['age'].mean().plot(kind='line', title='Average Age by Passenger Class')
plt.xlabel('Passenger Class')
plt.ylabel('Average Age')
plt.show()

In [ ]:
titanic['fare'].plot(kind='line', figsize=(10, 6))
plt.title('Fare Prices')
plt.xlabel('Passenger Index')
plt.ylabel('Fare')
plt.show()

#### **Bar Plot**

```
# This is formatted as code
```

Bar plots are great for comparing categorical data.

In [ ]:
# Plotting the number of survivors vs non-survivors
titanic['survived'].value_counts().plot(kind='bar', title='Survival Counts', color=['skyblue', 'salmon'])
plt.xlabel('Survived')
plt.ylabel('Count')
plt.show()

In [ ]:
# Bar Plot of Passenger Class Distribution
titanic_df['pclass'].value_counts().plot(kind='bar', color='skyblue')
plt.title('Passenger Class Distribution')
plt.xlabel('Class')
plt.ylabel('Number of Passengers')
plt.show()

#### **Histogram**

Histograms are useful for understanding the distribution of a numerical variable.

In [ ]:
# Plotting the distribution of passenger age
titanic['age'].plot(kind='hist', title='Distribution of Passenger Age', bins=20, color='skyblue')
plt.xlabel('Age')
plt.show()

#### **Scatter Plot**

Scatter plots help in identifying relationships between two numerical variables

In [ ]:
# Plotting the relationship between fare and age
titanic.plot(kind='scatter', x='fare', y='age', title='Fare vs Age')
plt.xlabel('Fare')
plt.ylabel('Age')
plt.show()

#### **Area Plot**

Area plots are useful for showing cumulative totals over time.

In [ ]:
# Select numerical columns
numerical_cols = ['age', 'fare', 'pclass']

# Drop rows with missing values in these columns to avoid plotting issues
titanic_numerical = titanic[numerical_cols].dropna()

# Create the area plot
titanic_numerical.plot.area(alpha=0.5)
plt.title('Area Plot of Selected Numerical Features')
plt.xlabel('Index')
plt.ylabel('Value')
plt.show()

#### **Box Plot**

Box plots are useful for showing the distribution of data based on a five-number summary.

In [ ]:
titanic.plot.box()

#### **Hexagonal binning Plot**

Hexbin plots are useful for visualizing the density of points in a scatter plot

In [ ]:
# Ensure the columns 'Age' and 'Fare' have no missing values for the plot
titanic= titanic[['age', 'fare']].dropna()

# Create the hexbin plot
titanic_df.plot.hexbin(x='age', y='fare', gridsize=30, cmap='viridis')
plt.title('Hexbin Plot of Age vs Fare')
plt.xlabel('Age')
plt.ylabel('Fare')
plt.show()