<a href="https://colab.research.google.com/github/hussain0048/Python-Notes/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Table of Content**

1.   ðŸ“š *_[Installing Pandas](#installing_pandas)_*
2.   ðŸ“š *_[Importing Pandas](#importing_pandas)_*
3.   ðŸ“š *_[Pandas Data Structure](#pandas_data_structure)_*
4.   ðŸ“š *_[Data Preparation using Pandas](#data_frame_functions)_*

#  **Pandas(Beginer Level)**

#**Section-1- Installing Pandas**

In [ ]:
conda install pandas

In [ ]:
!pip install pandas

# **Section-2-Importing Pandas**

In [ ]:
import pandas as pd
import numpy as np

# **Section-3- Pandas Data Structures**

**Pandas** provides **two types** of classes for handling data.

**1-Series:**

A **one-dimensional labeled array** holding data of any type
such as integers, strings, Python objects etc.

**2-DataFrame:**

 A **two-dimensional data structure** that holds data like a two-dimension array or a table with **rows and columns.**

## **3.1- Series in Pandas**

### **Basic Syntax**

In [ ]:
newSeries = pd.Series(data , index)



###**Letâ€™s build a series from Python List:**

In [ ]:
mylist = ['Ahmad','Machine Learning', 20, 'Pakistan']
labels = ['Name', 'Career', 'Age', 'Country']
newSeries = pd.Series(mylist,labels)
print(newSeries)

Name                  Ahmad
Career     Machine Learning
Age                      20
Country            Pakistan
dtype: object

It is not necessary to add an index in a pandas Series. In that case, it will automatically start index from 0.

In [ ]:
mylist = ['Ahmad','Machine Learning', 20, 'Pakistan']
newSeries = pd.Series(mylist)
print(newSeries)

### **Create a Series using a Python Dictionary**

In [ ]:
myDict = {'Name': 'Ahmad',
         'Career': 'Machine Learning',
         'Age': 20,
          'Country': 'Pakistan'}
mySeries = pd.Series(myDict)
print(mySeries)

Name                  Ahmad
Career     Machine Learning
Age                      20
Country            Pakistan
dtype: object

### **Create a Series From scalar value**

In [ ]:
pd.Series(5.0, index=["a", "b", "c", "d", "e"])
Out[12]:
a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

###**Accessing data from Series**

In [ ]:
seriesName['IndexName']

In [ ]:
print(mySeries['Name'])
print(mySeries['Age'])
print(mySeries['Career'])

### **Series as ND Array**

**Series** acts very similarly to a **ndarray** and is a valid argument to most **NumPy functions**.

In [ ]:
import pandas as pd

# Create a Pandas Series
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

# Accessing elements using index labels
print("Element at index 'b':", s['b'])  # Output: 20

# Arithmetic operation
s_double = s * 2
print("\nSeries after doubling each element:")
print(s_double)

# NumPy-like operations
import numpy as np
arr = np.sqrt(s)
print("\nSquare root of each element (NumPy array):")
print(arr)

# Adding two Series based on index labels
s2 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'e', 'f'])
sum_series = s + s2
print("\nSum of two Series (aligned based on index labels):")
print(sum_series)

### **Basic Operations on Pandas Series**

In [ ]:
newSeries = pd.Series([10,20,30,40],index=['LONDON','NEWYORK','Washington','Manchester'])
newSeries1 = pd.Series([10,20,35,46],index=['LONDON','NEWYORK','Istanbul','Karachi'])
print(newSeries,newSeries1,sep='\n\n')

Basic Arithmetic operations include +-*/ operations. These are done over-index, so letâ€™s perform them.

In [ ]:
newSeries + newSeries1

Istanbul       NaN
Karachi        NaN
LONDON        20.0
Manchester     NaN
NEWYORK       40.0
Washington     NaN
dtype: float64

Here we can see that since London and NEWYORK index are present in both Series, so it has added the value of both and output of rest is NaN (Not a number)

In [ ]:
newSeries * newSeries1

In [ ]:
newSeries / newSeries1

**Element Wise Operations/Broadcasting**

In [ ]:
newSeries + 5

LONDON        15
NEWYORK       25
Washington    35
Manchester    45
dtype: int64

In [ ]:
newSeries ** 1/2

## **3.2-DataFrame in Pandas**

**Ways to create Data Frame are:**

###  **DataFrame Creation using Python Dictionary**

In [ ]:
df1 = {"Name":["Ahmad","Ali",'Ismail',"John"],"Age":  [20,21,19,17],"Height":[5.1,5.6,6.1,5.7]}

In [ ]:
df1 = pd.DataFrame(df1)
df1

     Name  Age  Height
0   Ahmad   20     5.1
1     Ali   21     5.6
2  Ismail   19     6.1
3    John   17     5.7

**Getting Values from a Column**

In [ ]:
df1['Age']
#df1.columnname

Both of these syntaxes are correct, but we have to be careful about choosing one. If our column name has space in it, then definitely we can not use the 2nd method. We have to use the first method. We can only use the 2nd method when there is no space in the column name.

In [ ]:
df1.Name

**Values of Multiple Columns**

In [ ]:
df1[["Name","Age"]]

### **DataFrame Creation using Numpy array**

Creating a **DataFrame** by passing a **NumPy array** with a datetime index using ```date_range()``` and labeled columns:

In [ ]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.138796 -1.547302  0.360337 -1.125618
2013-01-02  0.421786  0.570474  1.323669  0.522632
2013-01-03 -1.546196  0.012753 -0.848985  0.768473
2013-01-04  1.622146  0.297482 -0.681904  0.395183
2013-01-05  0.310387  1.906540  0.784636  0.683254
2013-01-06 -1.125103  0.898253  0.491815 -1.169045

# **Section-4-Data Preparation using pandas**

## **4.1-Loading Libraries**

In [ ]:
#Import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder

## **4.2-Loading DataSet**

### **Built-in-DataSet**

Many Python libraries come with built-in datasets that are readily available for experimentation and learning. These datasets are often included to showcase library capabilities, serve as educational resources, or provide standard benchmarks for algorithms.

Following are some examples of libraries that include dataset in them.


1.   **Scikit-Learn**
2.   **Seaborn**
3.   **Matplotlib**
4.   **TensorFlow**

In [ ]:
import seaborn as sns
df=sns.load_dataset('titanic')
import numpy as np

In [ ]:
from sklearn import datasets

# Load a built-in dataset (e.g., Iris dataset)
iris = datasets.load_iris()

In [ ]:
import tensorflow_datasets as tfds

# Load a built-in dataset (e.g., MNIST dataset)
mnist_data = tfds.load('mnist')

### **User-Defined DataSet**

User-defined datasets refer to datasets created by users or organizations for specific analysis, research, or applications. These datasets may be sourced from various sources, including surveys, experiments, data collection efforts, and public repositories.

Following are some ways to collect the user-defined datasets.


1.   **Local Files (CSV, Excel, JSON, etc.)**
2.   **Database Queries**
3.   **Web Scraping**

In [ ]:
# Basic Syntax
pd.read_fileExtensionName("File Path")

In [ ]:
# Local Files
import pandas as pd

# Load a user-defined dataset from a CSV file
df = pd.read_csv('data.csv')

In [ ]:
# From Database


import pandas as pd
import sqlite3

# Connect to a SQLite database
conn = sqlite3.connect('database.db')

# Execute a SQL query to fetch data
query = "SELECT * FROM table_name"
df = pd.read_sql(query, conn)

# Close the database connection
conn.close()

In [ ]:
# Using Web-Scrapping

import pandas as pd
import requests
from bs4 import BeautifulSoup

# Fetch data from a website
url = 'https://example.com/data'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# Parse HTML content to extract data
# Example: Extracting tables using pandas read_html function
dfs = pd.read_html(url)
df = dfs[0]

**Here We will use Titanic DataSet for the refrence**

In [ ]:
import seaborn as sns
df=sns.load_dataset('titanic')

## **4.3-Common Pandas Functions**

### **Viewing DataSet**

```head()``` &```tail()```:
View the first or last few rows of the dataset.

In [ ]:
df.head()  # View the first few rows
df.tail()  # View the last few rows

```info()```: Get a concise summary of the dataset, including data types and missing values.

In [ ]:
df.info() # Give summary of the dataset

```describe()```: Get statistical information about numerical columns.

In [ ]:
df.describe() # Get statistical information about numerical columns

### **Data Cleaning**

**Handling Missing Values**:

In [ ]:
# Check for missing values
df.isnull().sum()

# Fill missing values in 'Age' column with median age
median_age = df['Age'].median()
df['Age'].fillna(median_age, inplace=True)

# Fill missing values in 'Embarked' column with the most common value
most_common_embarked = df['Embarked'].mode()[0]
df['Embarked'].fillna(most_common_embarked, inplace=True)

**Removing Duplicates:**

In [ ]:
# Check for duplicate rows
df.duplicated().sum()

# Drop duplicate rows
df.drop_duplicates(inplace=True)

**Handling Categorical Variables:**

In [ ]:
# Convert 'Sex' column to categorical data type
df['Sex'] = df['Sex'].astype('category')

# Convert 'Embarked' column to categorical data type
df['Embarked'] = df['Embarked'].astype('category')

**Handling Outliers:**

Outliers can skew your data and affect the performance of your model.

In [ ]:
# Detect Outliers
sns.boxplot(x=df['Fare'])
plt.show()

In [ ]:
# Removing Outliers
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1
df = df[(df['Fare'] >= (Q1 - 1.5 * IQR)) & (df['Fare'] <= (Q3 + 1.5 * IQR))]

### **Data Transformation**

**Normalizing and Scaling**

In [ ]:
scaler = StandardScaler()
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])

**Encoding categorical variables:**

In [ ]:
# One-hot encoding for 'Sex' and 'Embarked'
df = pd.get_dummies(df, columns=['Sex', 'Embarked'])

# Label encoding for 'Pclass'
le = LabelEncoder()
df['Pclass'] = le.fit_transform(df['Pclass'])

### **Feature Engineering**

**Creating New Features out of existing data**

In [ ]:
# Creating a family size feature
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

**pd.read_csv()**

### **Filtering  the Data**

In [ ]:
# Filter rows based on a condition
filtered_data = data[data['column'] = value]

In [ ]:
# Filter passengers who survived:
survived_df = df[df['Survived'] == 1]
print(survived_df.head())

In [ ]:
# Filter passengers who are female and survived:
female_survived_df = df[(df['Survived'] == 1) & (df['Sex'] == 'female')]
print(female_survived_df.head())

In [ ]:
# Filter passengers who are male and paid a fare greater than $50:
male_high_fare_df = df[(df['Sex'] == 'male') & (df['Fare'] > 50)]
print(male_high_fare_df.head())

### **Subsetting the Data**

Subsetting involves selecting specific rows and columns.

**Selecting by using Columns Names**

In [ ]:
subset_df = df[['Name', 'Sex', 'Age', 'Survived']]
print(subset_df.head())

**Select rows by index:**

In [ ]:
subset_rows_df = df.iloc[0:10]  # First 10 rows
print(subset_rows_df)

**Select specific rows and columns:**

In [ ]:
subset_rows_columns_df = df.loc[0:10, ['Name', 'Age', 'Survived']]  # First 11 rows and specific columns
print(subset_rows_columns_df)

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('data.csv')

# Print the DataFrame
print(df)

###  **Grouping Data**

Grouping data involves splitting the data into groups based on some criteria.

In [ ]:
# Group by a single column (e.g., 'Sex'):
grouped_df = df.groupby('Sex')

In [ ]:
# Group by multiple columns (e.g., 'Sex' and 'Pclass'):
grouped_df = df.groupby(['Sex', 'Pclass'])

### **Aggregating Data**

In [ ]:
# Calculate the mean age for each gender:
mean_age_by_gender = df.groupby('Sex')['Age'].mean()
print(mean_age_by_gender)

Aggregation involves computing a summary statistic for each group.

In [ ]:
# Calculate multiple aggregation functions (mean and median) for 'Fare' grouped by 'Pclass':
aggregated_df = df.groupby('Pclass')['Fare'].agg(['mean', 'median'])
print(aggregated_df)

In [ ]:
# Calculate multiple aggregations for multiple columns:
multi_agg_by_sex_pclass = grouped_by_sex_pclass.agg({
    'Age': ['mean', 'max', 'min'],
    'Fare': ['mean', 'sum']
})
print(multi_agg_by_sex_pclass)

**pd.read_table()**

In [ ]:
import pandas as pd

# Read the delimited file into a DataFrame
df = pd.read_table('data.txt', delimiter='\t')

# Print the DataFrame
print(df)

**pd.read_excel()**

In [ ]:
import pandas as pd

# Read the Excel file into a DataFrame
df = pd.read_excel('data.xlsx')

# Print the DataFrame
print(df)

**pd.readl_sql()**

In [ ]:
import pandas as pd
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('my_database.db')

# Read the SQL query into a DataFrame
df = pd.read_sql('SELECT * FROM users', conn)

# Print the DataFrame
print(df)

**pd.read_json()**

In [ ]:
import pandas as pd

# Read the JSON file into a DataFrame
df = pd.read_json('data.json')

# Print the DataFrame
print(df)

### **4.2- Data Statistics**

**head()**

In [ ]:
df.head()

**tail()**

In [ ]:
df.tail(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

**shape()**

In [ ]:
df.shape()

**isnull()**

In [ ]:
df.isnull().head()

**sum()**

In [ ]:
df.isnull().sum()

**info()**

In [ ]:
df.info()

**describe()**

In [ ]:
df.describe()

**mean()**

In [ ]:
df.mean()

**median()**

In [ ]:
df.median()

**std()**

In [ ]:
df.std()

**Count()**

In [ ]:
df.count()

**Max()**

In [ ]:
df.max()

**Min()**

In [ ]:
df.min()

### **4.3- Data Cleaning**

####  **4.3.1-Handling Duplicated Value**

Check if the data has any duplicate values using duplicated(). The sum() gives you the number of duplicate rows in the data frame

In [ ]:
df.duplicated().sum()

In order to see the duplicate rows, we can store the duplicated values inside a data frame.

In [ ]:
duplicate_rows = df[df.duplicated()]
duplicate_rows

Duplicate values can be removed using drop_duplicates()

In [ ]:
data = df.drop_duplicates(ignore_index=True)
# ignore_index=True so that the index is relabeled

#### **4.3.2- Handling Null Value**

**isnull().**

In order to find the missing values in a dataset we can use isnull().

In [ ]:
df.isnull().sum().sort_values(ascending=False)
# isnull() - To find the null values
# sum() - To find the sum of null values for each attribute
# sort_values() - To sort the values

We can find the percentage of values missing using the below code

In [ ]:
(df.isnull().sum().sum()/df.size)*100

0.0074822297044519264

**dp.dropna()**

The following code drops rows that contain any missing values:

In [ ]:
df = df.dropna()

The following code drops columns that contain all missing values:

In [ ]:
df = df.dropna(axis=1, how='all')

In [ ]:
df.dropna(axis=1)

**fillna()**

The following code fills missing values with the value 0:

In [ ]:
df = df.fillna(0)

The following code fills missing values with the previous valid value:

In [ ]:
df = df.fillna(method='ffill')

**bfill()**

In [ ]:
data = df.bfill()

**ffill method**

In [ ]:
df = df.ffill()

#### **4.3.3- Data Sorting**

**df.sort_values()**

The following code sorts the DataFrame by the A column in ascending order:

In [ ]:
df.head()

In [ ]:
 df = df.sort_values('sex')

In [ ]:
df

The following code sorts the DataFrame by the B column in descending order:

In [ ]:
df = df.sort_values('sex', ascending=False)

#### **4.3.4Data Grouping**

**df.groupby()**

In [ ]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
# applying groupby() function to
# group the data on sex value.
gk = df.groupby('sex')

In [ ]:
# Let's print the first entries
# in all the groups formed.
gk.first()

,survived,pclass,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
sex,,,,,,,,,,,,,,
female,1,1,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
male,0,3,22.0,1,0,7.2500,S,Third,man,True,E,Southampton,no,False

**df.apply()**

In [ ]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe','John Smith'], 'Age':[30,25,40]})

# Remove any rows where the name is missing
df = df.apply(lambda row: row if row['Name'] else None, axis=1)

# Drop any rows that are now empty
df = df.dropna()

print(df)

         Name  Age
0    John Doe   30
1    Jane Doe   25
2  John Smith   40

#### **4.3.4- Inconsistent Data Entry**

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,C,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,C,Southampton,no,True

In [ ]:
df['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [ ]:
df['who'] = df['who'].str.lower()
df['who'].unique()

array(['man', 'woman', 'child'], dtype=object)